# System and IDE files
Thumbs.db
.DS_Store
Phaser OSX.sublime-project
Phaser OSX.sublime-workspace
Phaser.sublime-project
Phaser.sublime-workspace
*.suo
*.sublime-project
*.sublime-workspace
.idea
.tscache/

# Vendors
node_modules/

public/bundle.js
