@import url(https://fonts.googleapis.com/css?family=Play:400,700);

body {
	background: url(images/header.png) no-repeat center top, #000 url(images/bg.jpg) no-repeat left top fixed;
	background-size: 1180px 295px, cover;
	color: #b7b7b7;
	font-family: Play, sans-serif;
	font-size: 18px;
	overflow-x: hidden;
	text-align: center;
	text-shadow: #000 .1em .1em .2em;
	width: 950px;
	margin: 0 auto;
}

/* Chrome Hack https://code.google.com/p/chromium/issues/detail?id=413183 */
@media screen and (-webkit-min-device-pixel-ratio:0) { body { word-spacing: -1px; } }

img {
	border: none;
	vertical-align: bottom;
}

.account {
	position: absolute;
	padding-top: -20px;
	text-shadow: 0.1em 0.1em 0.1em black, 0 0 0.7em black;
}

#header {
	margin: 15px auto 0;
	padding: 0;
}

.indexheader {
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
}

.active { color: #E90000 !important; }

.center {
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center !important;
}

.lighten:hover {
	filter: brightness(120%);
	-webkit-filter: brightness(120%);
	-moz-filter: brightness(120%);
	-o-filter: brightness(120%);
	-ms-filter: brightness(120%);
}

.shadow { box-shadow: 0 0 10px #000; }

:focus { outline: none; }

#wrapper { text-align: left; }

.div {
	border: 20px solid transparent;
	border-image: url(images/div.png) 20 fill stretch;
	position: relative;
	overflow: hidden;
	margin: 0 0 10px;
	padding: 4px 10px;
}

.footer {
	border: 20px solid transparent;
	border-image: url(images/footer.png) 20 fill stretch;
	position: relative;
	overflow: hidden;
	margin: 0 0 10px;
	padding: 5px 10px 0;
}

.button {
	display: inline-block;
	width: 300px;
	background-position: center;
	line-height: 87px;
	font-weight: bold;
	margin-bottom: 5px;
}

.button:hover { background-position: top; }

.button:active { background-position: bottom; }

.warning {
	margin-bottom: 10px;
	background: rgba(0,0,0,0.5);
	border-radius: 15px;
	border: 4px ridge red;
	padding: 20px 0;
}

.confirmation {
	margin-bottom: 10px;
	background: rgba(0,0,0,0.5);
	border-radius: 15px;
	border: 4px ridge green;
	padding: 20px 0;
}

a:link,a:visited,a:active {
	text-decoration: none;
	color: #b7b7b7;
}

a:hover,.active a,a.active {
	text-decoration: none;
	color: #e6e6e6;
	cursor: pointer;
	text-shadow: #000 .1em .1em .2em red 0 0 10px;
}

iframe {
	border: 0;
}

.frame {
	border: 4px ridge;
	border-radius: 15px;
	border-color: #660E00;
}

#scroll {
	bottom: 0;
	display: block;
	left: 96%;
	position: fixed;
	z-index: 999;
}

.footer img {
	width: 48px;
	height: 48px;
}

.scrollback-stream.scrollback-toast {
	left: 30px;
	right: auto;
}

@media only screen and (max-width: 440px) {
	.scrollback-stream.scrollback-toast {
		left: 0;
	}
}
