			<div id="dash" class="selected0">
				<div id="return">
					<div class="toggledash close-button"></div>
				</div>
				<div id="playertabswrapper">
					<div class="playertabs p0" player="0">
						<div id="playeravatar" class="vignette active p0">
							<div class="frame"></div>
						</div>
						<div class="infos">
							<h3 class="name"></h3>
							<p class="score">0 Score</p>
							<p class="plasma">0 Plasma</p>
							<p class="units">Units</p>
							<p>Time <span class="activePlayer turntime">&#8734;</span> / <span class="timepool">&#8734;</span></p>
						</div>
					</div>
					<div class="playertabs p1" player="1">
						<div id="playeravatar" class="vignette active p1">
							<div class="frame"></div>
						</div>
						<div class="infos">
							<h3 class="name"></h3>
							<p class="score">0 Score</p>
							<p class="plasma">0 Plasma</p>
							<p class="units">Units</p>
							<p>Time <span class="activePlayer turntime">&#8734;</span> / <span class="timepool">&#8734;</span></p>
						</div>
					</div>
					<div class="playertabs p2" player="2">
						<div id="playeravatar" class="vignette active p2">
							<div class="frame"></div>
						</div>
						<div class="infos">
							<h3 class="name"></h3>
							<p class="score">0 Score</p>
							<p class="plasma">0 Plasma</p>
							<p class="units">Units</p>
							<p>Time <span class="activePlayer turntime">&#8734;</span> / <span class="timepool">&#8734;</span></p>
						</div>
					</div>
					<div class="playertabs p3" player="3">
						<div id="playeravatar" class="vignette active p3">
							<div class="frame"></div>
						</div>
						<div class="infos">
							<h3 class="name"></h3>
							<p class="score">0 Score</p>
							<p class="plasma">0 Plasma</p>
							<p class="units">Units</p>
							<p>Time <span class="activePlayer turntime">&#8734;</span> / <span class="timepool">&#8734;</span></p>
						</div>
					</div>
				</div>
				<div id="tabwrapper">
					<div id="cardwrapper">
						<div id="cardwrapper_inner">
							<div id="card">
								<div class="center" style="display: inline-block; vertical-align: top;">
									<div class="card sideA" style="background-image: url('__CARD_MARGIN__'), url();">
										<!-- On hover mini tutorial -->
										<div class="card_info stats_desc">
											<br>
											<div><span class="icon health"></span> Health : The raw amount of damage points a creature can take
												before it dies.
											</div>
											<div><span class="icon regrowth"></span> Regrowth : Amount of health that gets restored at the
												beginning of every turn.
											</div>
											<div><span class="icon endurance"></span> Endurance : Protects unit from fatigue, which disables
												regrowth and meditation.
											</div>
											<br>
											<div><span class="icon energy"></span> Energy : Each unit ability requires a certain amount of
												energy to be used.
											</div>
											<div><span class="icon meditation"></span> Meditation : Energy restored each turn.</div>
											<div><span class="icon initiative"></span> Initiative : Units with higher amount of initiative
												points get to act their turn faster.
											</div>
											<br>
											<div><span class="icon offense"></span> Offense : Influences the damage output done by all the
												creature's attack abilities.
											</div>
											<div><span class="icon defense"></span> Defense : Protects the creature by reducing some of the
												incoming damage.
											</div>
											<div><span class="icon movement"></span> Movement : Any creature can move a certain number of
												hexagons every turn.
											</div>
										</div>
										<div class="card_info masteries_desc">
											<span>There are 9 common types of damage and a rare one called Pure damage that bypasses the formula
											below, doing a fixed non-variable amount of harm no matter what.</span><br><br>
											<span><u>Damage Formula</u><br>attack damage +<br>attack damage / 100 *<br>(offense of attacking
											unit -<br>defense of unit attacked /<br>number of hexagons hit +<br>mastery stat of attacker
											-<br>mastery stat of defender)</span><br><br>
											<span>Minimum damage is usually 1<br>unless the hit is being avoided.</span>
										</div>
										<!-- Card Anchor -->
										<div style="height: 100%;"></div>
										<div class="section info sin-">
											<div class = "set-type-parent">
												<div class ="creature-meta set"></div>
												<div class="creature-meta type" creature_type=""></div>
											</div>
											<a class="name" creature_name=""></a>
											<div class="creature-meta hexes"></div>
										</div>
									</div>
								</div>
								<div class="card sideB" style="background-image: url('__CARD_MARGIN__'), url();">
									<div class="section numbers stats">
										<div stat="health" class="stat health" title="Health">
											<div class="icon health"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="regrowth" class="stat regrowth" title="Regrowth">
											<div class="icon regrowth"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="endurance" class="stat endurance" title="Endurance">
											<div class="icon endurance"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="energy" class="stat energy" title="Energy">
											<div class="icon energy"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="meditation" class="stat meditation" title="Meditation">
											<div class="icon meditation"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="initiative" class="stat initiative" title="Initiative">
											<div class="icon initiative"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="offense" class="stat offense" title="Offense">
											<div class="icon offense"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="defense" class="stat defense" title="Defense">
											<div class="icon defense"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="movement" class="stat movement" title="Movement">
											<div class="icon movement"></div>
											<br><span class="value">0</span>
										</div>
									</div>
									<div class="section abilities">
										<div class="ability">
											<div class="icon">
												<div class="frame"></div>
											</div>
											<div class="wrapper">
												<div class="info">
													<h3></h3>
													<span class="desc" id="cost"></span><br>
													<span class="desc" id="desc"></span><br>
													<span class="desc" id="info"></span><br>
													<span class="desc" id="upgrade"></span>
												</div>
											</div>
										</div>
										<div class="ability">
											<div class="icon">
												<div class="frame"></div>
											</div>
											<div class="wrapper">
												<div class="info">
													<h3></h3>
													<span class="desc" id="cost"></span><br>
													<span class="desc" id="desc"></span><br>
													<span class="desc" id="info"></span><br>
													<span class="desc" id="upgrade"></span>
												</div>
											</div>
										</div>
										<div class="ability">
											<div class="icon">
												<div class="frame"></div>
											</div>
											<div class="wrapper">
												<div class="info">
													<h3></h3>
													<span class="desc" id="cost"></span><br>
													<span class="desc" id="desc"></span><br>
													<span class="desc" id="info"></span><br>
													<span class="desc" id="upgrade"></span>
												</div>
											</div>
										</div>
										<div class="ability">
											<div class="icon">
												<div class="frame"></div>
											</div>
											<div class="wrapper">
												<div class="info">
													<h3></h3>
													<span class="desc" id="cost"></span><br>
													<span class="desc" id="desc"></span><br>
													<span class="desc" id="info"></span><br>
													<span class="desc" id="upgrade"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="section numbers masteries">
										<div stat="pierce" class="stat pierce" title="Pierce">
											<div class="icon pierce"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="slash" class="stat slash" title="Slash">
											<div class="icon slash"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="crush" class="stat crush" title="Crush">
											<div class="icon crush"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="shock" class="stat shock" title="Shock">
											<div class="icon shock"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="burn" class="stat burn" title="Burn">
											<div class="icon burn"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="frost" class="stat frost" title="Frost">
											<div class="icon frost"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="poison" class="stat poison" title="Poison">
											<div class="icon poison"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="sonic" class="stat sonic" title="Sonic">
											<div class="icon sonic"></div>
											<br><span class="value">0</span>
										</div>
										<div stat="mental" class="stat mental" title="Mental">
											<div class="icon mental"></div>
											<br><span class="value">0</span>
										</div>
									</div>
								</div>
							</div>
							<div id="materialize_button">
								<p></p>
							</div>
							<div id="opencollective_banner" class="opencollective_banner_slot opencollective_banner_slot--dash"></div>
						</div>
					</div>
					<div id="creaturerasterwrapper">
					</div>
				</div>
			</div>
