			<div id="musicplayerwrapper" class="framed-modal__wrapper hide">

					<div class="framed-modal__return">
						<button class="toggle-music-player close-button"></button>
					</div>

					<div class="audio-player-controls">
						<div class="audio-player-skin">
							<div class="audio-player-beast"></div>

							<div class="musicgenres__items">
__MUSIC_GENRES__
							</div>

							<div class="timeline">
								<div class=" timeline-control"></div>
								<div class="time">
									<div class="current">0:00</div>
									<div class="divider">/</div>
									<div class="length"></div>
								</div>
								<div class="progress-music"></div>
							</div>
							<div class="controls">
								<div class="play-container">
									<div class="toggle-play pause">
								</div>
								</div>
							</div>

							<div class="volumeSliders">
								<div id="sfx-slider">
									<div class="volume-label">SFX</div>
									<input id="sfx" class="slider" type="range" min="0" max="1" value="1" step="0.02">
								</div>
								<div id="vol-slider">
									<div class="volume-label">VOL</div>
									<input id="vol" class="slider" type="range" min="0" max="1" value="0.25" step="0.02">
								</div>
							</div>
						</div>
					</div>
					<div class="framed-modal framed-modal--fluid">
					<ul id="playlist" style="list-style-type:none; padding-left:0px;">
__MUSIC_PLAYLIST__
					</ul>
				</div>
				<div id="opencollective_banner_musicplayer" class="opencollective_banner_slot opencollective_banner_slot--fullscreen"></div>
			</div>
