<link rel="import" href="/libs/polymer/polymer.html">
<link rel="import" href="/libs/paper-button/paper-button.html">
<link rel="import" href="/libs/paper-tabs/paper-tabs.html">
<link rel="import" href="/libs/paper-tooltip/paper-tooltip.html">

<!--
`ab-setup`
Ancient Beast Game Setup

@demo demo/index.html
-->

<dom-module id="ab-setup">
	<template>
		<style>
			:host {
				display: flex;
				flex-wrap: wrap;
				flex-flow: row;
				height: 447px;
				width: 505px;
				padding: 10px;
				background-color: rgba(25, 25, 25, .8);
				color: white;
				font-weight: bold;
				text-align: center;

				--paper-tab-ink: #096AC8;
				--paper-tabs-selection-bar-color: #096AC8;
				--paper-tab-content: {
					font-weight: bold;
				};
			}

			#settings {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}

			h2 {
				font-size: 16px;
				margin: 0;
			}

			.cont {
				background-color: rgba(25,25,25,.8);
				display: inline-block;
				border-width: 1px;
				border-style: solid;
				border-color: rgba(0, 105, 185, 0.298039);
				border-image: initial;
				border-radius: 7px;
				margin: 2px;
				padding: 5px;
				flex: 1;
				text-align: center;
			}

			paper-tabs {
				background-color: #3F3F3F;
				border-radius: 7px;
			}

			--paper-button-ink-color: white;
			#start {
				margin: 0 auto;
				background-color: rgba(255, 0, 0, 0.5);
				color: white;
			}
		</style>
		<div id="settings">
			<div class="cont">
				<paper-tooltip for="hotseatTip">[ Hotseat ]</paper-tooltip>
				<h2 id="hotseatTip">Player Mode</h2>
					<paper-tabs id="playerMode" attr-for-selected="value" selected="{{playerMode}}">
						<paper-tab value="2">1 versus 1</paper-tab>
						<paper-tab value="4">2 versus 2</paper-tab>
					</paper-tabs>
			</div>
			<div class="cont">
				<paper-tooltip for="psyhelmTip">[ Psyhelm limit ]</paper-tooltip>
				<h2 id="psyhelmTip">Active Units</h2>
					<paper-tabs id="activeUnits" attr-for-selected="value" selected="{{maxUnits}}">
						<paper-tab value="1">1</paper-tab>
						<paper-tab value="2">2</paper-tab>
						<paper-tab value="3">3</paper-tab>
						<paper-tab value="4">4</paper-tab>
						<paper-tab value="5">5</paper-tab>
						<paper-tab value="6">6</paper-tab>
						<paper-tab value="7">7</paper-tab>
					</paper-tabs>
			</div>
			<br>
			<div class="cont">
				<h2 id="drops">Unit Drops</h2>
					<paper-tabs id="unitDrops" attr-for-selected="value" selected="{{dropsEnabled}}">
						<paper-tab value="1">On</paper-tab>
						<paper-tab value="0">Off</paper-tab>
					</paper-tabs>
				</span>
			</div>
			<div class="cont">
				<paper-tooltip for="upgradesTip">[ Number of rounds or uses ]</paper-tooltip>
				<h2 id="upgradesTip">Ability Upgrades</h2>
					<paper-tabs id="abilityUpgrades" attr-for-selected="value" selected="{{upgradeRounds}}">
						<paper-tab value="0">Enabled</paper-tab>
						<paper-tab value="1">1</paper-tab>
						<paper-tab value="2">2</paper-tab>
						<paper-tab value="3">3</paper-tab>
						<paper-tab value="4">4</paper-tab>
						<paper-tab value="5">5</paper-tab>
						<paper-tab value="-1">Diabled</paper-tab>
					</paper-tabs>
			</div>
			<br>
			<div class="cont">
				<paper-tooltip for="plasmaTip">[ Used for unit materialization or shielding ]</paper-tooltip>
				<h2 id="plasmaTip">Plasma Points</h2>
					<paper-tabs id="plasmaPoints" attr-for-selected="value" selected="{{maxPlasma}}">
						<paper-tab value="10">10</paper-tab>
						<paper-tab value="20">20</paper-tab>
						<paper-tab value="30">30</paper-tab>
						<paper-tab value="40">40</paper-tab>
						<paper-tab value="50">50</paper-tab>
						<paper-tab value="60">60</paper-tab>
						<paper-tab value="70">70</paper-tab>
						<paper-tab value="80">80</paper-tab>
						<paper-tab value="90">90</paper-tab>
						<paper-tab value="100">100</paper-tab>
						<paper-tab value="110">110</paper-tab>
					</paper-tabs>
			</div>
			<br>
			<div class="cont">
				<paper-tooltip for="turnTimeTip">[ In seconds ]</paper-tooltip>
				<h2 id="turnTimeTip">Turn Time</h2>
					<paper-tabs id="turnTime" attr-for-selected="value" selected="{{turnTime}}">
						<paper-tab value="20">20</paper-tab>
						<paper-tab value="40">40</paper-tab>
						<paper-tab value="60">60</paper-tab>
						<paper-tab value="80">80</paper-tab>
						<paper-tab value="99">99</paper-tab>
						<paper-tab value="-1">&#8734;</paper-tab>
					</paper-tabs>
			</div>
			<div class="cont">
				<paper-tooltip for="timePoolTip">[ Minutes ]</paper-tooltip>
				<h2 id="timePoolTip">Time Pools</h2>
					<paper-tabs id="timePool" attr-for-selected="value" selected="{{timePool}}">
						<paper-tab value="15">15</paper-tab>
						<paper-tab value="20">20</paper-tab>
						<paper-tab value="25">25</paper-tab>
						<paper-tab value="30">30</paper-tab>
						<paper-tab value="-1">&#8734;</paper-tab>
					</paper-tabs>
			</div>
			<br>
			<div class="cont">
				<paper-tooltip for="combatLocationTip">[ No influence to the actual gameplay ]</paper-tooltip>
				<h2 id="combatLocationTip">Combat Location</h2>
				<paper-tabs id="combatLocation" attr-for-selected="value" selected="{{combatLocation}}">
					<paper-tab value="random">Random Place</paper-tab>
					<paper-tab value="Dark Forest">Dark Forest</paper-tab>
					<paper-tab value="Frozen Skull">Frozen Skull</paper-tab>
					<paper-tab value="Shadow Cave">Shadow Cave</paper-tab>
				</paper-tabs>
			</div>
			<paper-button id="start" on-tap="onTapStart" raised>Start</paper-button>
		</div>
	</template>

	<script src="ab-setup.js"></script>
</dom-module>
