<link rel="import" href="/libs/polymer/polymer.html">
<link rel="import" href="/libs/paper-button/paper-button.html">
<link rel="import" href="/libs/paper-tabs/paper-tabs.html">
<link rel="import" href="/libs/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../ab-options/ab-options.html">

<!--
`ab-setup`
Ancient Beast Game Setup

@demo demo/index.html
-->

<dom-module id="ab-setup">
	<template>
		<style>
			:host {
				text-align: center;

				--paper-tab-ink: #096AC8;
				--paper-tabs-selection-bar-color: #096AC8;
				--paper-tab-content: {
					font-weight: bold;
				};
			}

			#wrapper {
				flex-wrap: wrap;
				flex-direction: row;
				flex-flow: row;
				font-weight: bold;
				text-align: center;
				margin: 0 auto;
				height: 447px;
				width: 505px;
			}

			#settings {
				border-width: 1px;
				border-style: solid;
				border-color: rgba(0, 105, 185, 0.298039);
				padding: 10px;
				color: white;
				background-color: rgba(25, 25, 25, .8);
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin-bottom: 10px;
			}

			ab-options {
				flex-grow: 1;
			}

			--paper-button-ink-color: white;
			#start {
				margin: 0 auto;
				background-color: rgba(255, 0, 0, 0.5);
				color: white;
			}
		</style>
		<div id="wrapper">
			<div id="settings">
				<ab-options
						id="playerMode"
						tooltip="[ Hotseat ]"
						title="Player Mode"
						items="[[options.playerMode]]"
						selected="{{playerMode}}"
				></ab-options>
				<ab-options
						id="maxUnits"
						tooltip="[ Psyhelm limit ]"
						title="Active Units"
						items="[[options.maxUnits]]"
						selected="{{maxUnits}}"
				></ab-options>
				<ab-options
						id="dropsEnabled"
						title="Unit Drops"
						items="[[options.dropsEnabled]]"
						selected="{{dropsEnabled}}"
				></ab-options>
				<ab-options
						id="upgradeRounds"
						title="Ability Upgrades"
						tooltip="[ Number of rounds or uses ]"
						items="[[options.upgradeRounds]]"
						selected="{{upgradeRounds}}"
				></ab-options>
				<ab-options
						id="maxPlasma"
						title="Plasma points"
						tooltip="[ Used for unit materialization or shielding ]"
						items="[[options.maxPlasma]]"
						selected="{{maxPlasma}}"
				></ab-options>
				<ab-options
						id="turnTime"
						title="Turn time"
						tooltip="[ In seconds ]"
						items="[[options.turnTime]]"
						selected="{{turnTime}}"
				></ab-options>
				<ab-options
						id="timePool"
						title="Time pools"
						tooltip="[ Minutes ]"
						items="[[options.timePool]]"
						selected="{{timePool}}"
				></ab-options>
				<ab-options
						id="combatLocation"
						title="Combat Location"
						tooltip="[ No influence to the actual gameplay ]"
						items="[[options.combatLocation]]"
						selected="{{combatLocation}}"
				></ab-options>
			</div>
			<paper-button id="start" on-tap="onTapStart" raised>Start</paper-button>
		</div>
	</template>

	<script src="ab-setup.js"></script>
</dom-module>
