.avatar-abolished[set="default"] {
  background-image: url('/assets/units/avatars/Abolished.jpg');
}

.avatar-aegis[set="default"] {
  background-image: url('/assets/units/avatars/Aegis.jpg');
}

.avatar-asher[set="default"] {
  background-image: url('/assets/units/avatars/Asher.jpg');
}

.avatar-batmadillo[set="default"] {
  background-image: url('/assets/units/avatars/Batmadillo.jpg');
}

.avatar-blue-shrimp[set="default"] {
  background-image: url('/assets/units/avatars/Blue Shrimp.jpg');
}

.avatar-bounty-hunter[set="default"] {
  background-image: url('/assets/units/avatars/Bounty Hunter.jpg');
}

.avatar-chimera[set="default"] {
  background-image: url('/assets/units/avatars/Chimera.jpg');
}

.avatar-crystalis[set="default"] {
  background-image: url('/assets/units/avatars/Crystalis.jpg');
}

.avatar-cyber-wolf[set="default"] {
  background-image: url('/assets/units/avatars/Cyber Wolf.jpg');
}

.avatar-cycloper[set="default"] {
  background-image: url('/assets/units/avatars/Cycloper.jpg');
}

.avatar-dark-priest-blue[set="default"] {
  background-image: url('/assets/units/avatars/Dark Priest blue.jpg');
}

.avatar-dark-priest-green[set="default"] {
  background-image: url('/assets/units/avatars/Dark Priest green.jpg');
}

.avatar-dark-priest-orange[set="default"] {
  background-image: url('/assets/units/avatars/Dark Priest orange.jpg');
}

.avatar-dark-priest-red[set="default"] {
  background-image: url('/assets/units/avatars/Dark Priest red.jpg');
}

.avatar-dark-priest[set="default"] {
  background-image: url('/assets/units/avatars/Dark Priest.jpg');
}

.avatar-deep-beauty[set="default"] {
  background-image: url('/assets/units/avatars/Deep Beauty.jpg');
}

.avatar-flayed[set="default"] {
  background-image: url('/assets/units/avatars/Flayed.jpg');
}

.avatar-gilded-maiden[set="default"] {
  background-image: url('/assets/units/avatars/Gilded Maiden.jpg');
}

.avatar-golden-wyrm[set="default"] {
  background-image: url('/assets/units/avatars/Golden Wyrm.jpg');
}

.avatar-greedy-knight[set="default"] {
  background-image: url('/assets/units/avatars/Greedy Knight.jpg');
}

.avatar-gumble[set="default"] {
  background-image: url('/assets/units/avatars/Gumble.jpg');
}

.avatar-headless[set="default"] {
  background-image: url('/assets/units/avatars/Headless.jpg');
}

.avatar-horn-head[set="default"] {
  background-image: url('/assets/units/avatars/Horn Head.jpg');
}

.avatar-impaler[set="default"] {
  background-image: url('/assets/units/avatars/Impaler.jpg');
}

.avatar-infernal[set="default"] {
  background-image: url('/assets/units/avatars/Infernal.jpg');
}

.avatar-knightmare[set="default"] {
  background-image: url('/assets/units/avatars/Knightmare.jpg');
}

.avatar-kraken[set="default"] {
  background-image: url('/assets/units/avatars/Kraken.jpg');
}

.avatar-lavamander[set="default"] {
  background-image: url('/assets/units/avatars/Lavamander.jpg');
}

.avatar-living-armor[set="default"] {
  background-image: url('/assets/units/avatars/Living Armor.jpg');
}

.avatar-mangler[set="default"] {
  background-image: url('/assets/units/avatars/Mangler.jpg');
}

.avatar-metalist[set="default"] {
  background-image: url('/assets/units/avatars/Metalist.jpg');
}

.avatar-miss-creeper[set="default"] {
  background-image: url('/assets/units/avatars/Miss Creeper.jpg');
}

.avatar-moss-hound[set="default"] {
  background-image: url('/assets/units/avatars/Moss Hound.jpg');
}

.avatar-mr-stitches[set="default"] {
  background-image: url('/assets/units/avatars/Mr. Stitches.jpg');
}

.avatar-nutcase[set="default"] {
  background-image: url('/assets/units/avatars/Nutcase.jpg');
}

.avatar-papa-eggplant[set="default"] {
  background-image: url('/assets/units/avatars/Papa Eggplant.jpg');
}

.avatar-razorback[set="default"] {
  background-image: url('/assets/units/avatars/Razorback.jpg');
}

.avatar-royal-guard[set="default"] {
  background-image: url('/assets/units/avatars/Royal Guard.jpg');
}

.avatar-sarcophag[set="default"] {
  background-image: url('/assets/units/avatars/Sarcophag.jpg');
}

.avatar-satyr[set="default"] {
  background-image: url('/assets/units/avatars/Satyr.jpg');
}

.avatar-scavenger[set="default"] {
  background-image: url('/assets/units/avatars/Scavenger.jpg');
}

.avatar-scorpius[set="default"] {
  background-image: url('/assets/units/avatars/Scorpius.jpg');
}

.avatar-shadow-leech[set="default"] {
  background-image: url('/assets/units/avatars/Shadow Leech.jpg');
}

.avatar-snow-bunny[set="default"] {
  background-image: url('/assets/units/avatars/Snow Bunny.jpg');
}

.avatar-spikes[set="default"] {
  background-image: url('/assets/units/avatars/Spikes.jpg');
}

.avatar-stomper[set="default"] {
  background-image: url('/assets/units/avatars/Stomper.jpg');
}

.avatar-swampler[set="default"] {
  background-image: url('/assets/units/avatars/Swampler.jpg');
}

.avatar-swine-thug[set="default"] {
  background-image: url('/assets/units/avatars/Swine Thug.jpg');
}

.avatar-toxic-shroom[set="default"] {
  background-image: url('/assets/units/avatars/Toxic Shroom.jpg');
}

.avatar-troglodyte[set="default"] {
  background-image: url('/assets/units/avatars/Troglodyte.jpg');
}

.avatar-uncle-fungus[set="default"] {
  background-image: url('/assets/units/avatars/Uncle Fungus.jpg');
}

.avatar-vehemoth[set="default"] {
  background-image: url('/assets/units/avatars/Vehemoth.jpg');
}

.avatar-vertigo[set="default"] {
  background-image: url('/assets/units/avatars/Vertigo.jpg');
}

.avatar-volpyr[set="default"] {
  background-image: url('/assets/units/avatars/Volpyr.jpg');
}

.avatar-vulcan[set="default"] {
  background-image: url('/assets/units/avatars/Vulcan.jpg');
}