#creaturegrid{
	display: block;
	height: 700px;
	width: 700px;
	margin: 0px auto;
	line-height: 0px;
}

#creaturegrid .vignette,
.vignette div.border,
.vignette div.overlay{
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	position: relative;
	display: inline-block;
}

#creaturegrid .vignette div.overlay{	
	display: block;
	position: absolute;
	opacity: .75;
}

#creaturegrid .vignette div.border{
	display: block;
	position: absolute;
	background-image: url("../../images/frame.png");
}

#creaturegrid .vignette.active div.border{background-image: url("../../images/frame_focused.png");}

#creaturegrid .vignette.dead 	div.overlay{ background-image: url("../icons/dead.svg"); }
#creaturegrid .vignette.locked 	div.overlay{ background-image: url("../icons/locked.svg"); }
#creaturegrid .vignette.queued 	div.overlay{ background-image: url("../icons/queue.svg");
	animation: pulse0106 750ms infinite alternate;
	-webkit-animation: pulse0106 750ms infinite alternate;
	-moz-animation: pulse0106 750ms infinite alternate;
	-o-animation: pulse0106 750ms infinite alternate;
}


/*----------------Creatures vignettes---------------*/

.vignette.typeA1{background-image: url("../../bestiary/Swine Thug/avatar.jpg");}
.vignette.typeA2{background-image: url("../../bestiary/Bounty Hunter/avatar.jpg");}
.vignette.typeA3{background-image: url("../../bestiary/Cyber Hound/avatar.jpg");}
.vignette.typeA4{background-image: url("../../bestiary/Greedy Knight/avatar.jpg");}
.vignette.typeA5{background-image: url("../../bestiary/Gilded Maiden/avatar.jpg");}
.vignette.typeA6{background-image: url("../../bestiary/Living Armor/avatar.jpg");}
.vignette.typeA7{background-image: url("../../bestiary/Golden Wyrm/avatar.jpg");}

.vignette.typeE1{background-image: url("../../bestiary/Cycloper/avatar.jpg");}
.vignette.typeE2{background-image: url("../../bestiary/Scavenger/avatar.jpg");}
.vignette.typeE3{background-image: url("../../bestiary/Mr. Stitches/avatar.jpg");}
.vignette.typeE4{background-image: url("../../bestiary/Vertigo/avatar.jpg");}
.vignette.typeE5{background-image: url("../../bestiary/Scorpius/avatar.jpg");}
.vignette.typeE6{background-image: url("../../bestiary/Razorback/avatar.jpg");}
.vignette.typeE7{background-image: url("../../bestiary/Night Stalker/avatar.jpg");}

.vignette.typeG1{background-image: url("../../bestiary/Toxic Shroom/avatar.jpg");}
.vignette.typeG2{background-image: url("../../bestiary/Swampler/avatar.jpg");}
.vignette.typeG3{background-image: url("../../bestiary/Uncle Fungus/avatar.jpg");}
.vignette.typeG4{background-image: url("../../bestiary/Miss Creeper/avatar.jpg");}
.vignette.typeG5{background-image: url("../../bestiary/Eggplant/avatar.jpg");}
.vignette.typeG6{background-image: url("../../bestiary/Marauder/avatar.jpg");}
.vignette.typeG7{background-image: url("../../bestiary/Moss Hound/avatar.jpg");}

.vignette.typeL1{background-image: url("../../bestiary/Lava Mollusk/avatar.jpg");}
.vignette.typeL2{background-image: url("../../bestiary/Magma Spawn/avatar.jpg");}
.vignette.typeL3{background-image: url("../../bestiary/Infernal/avatar.jpg");}
.vignette.typeL4{background-image: url("../../bestiary/Metal Face/avatar.jpg");}
.vignette.typeL5{background-image: url("../../bestiary/Volpyr/avatar.jpg");}
.vignette.typeL6{background-image: url("../../bestiary/Vulcan/avatar.jpg");}
.vignette.typeL7{background-image: url("../../bestiary/Fire Bird/avatar.jpg");}

.vignette.typeP1{background-image: url("../../bestiary/Gumble/avatar.jpg");}
.vignette.typeP2{background-image: url("../../bestiary/Sand Shrimp/avatar.jpg");}
.vignette.typeP3{background-image: url("../../bestiary/Troglodyte/avatar.jpg");}
.vignette.typeP4{background-image: url("../../bestiary/Chimera/avatar.jpg");}
.vignette.typeP5{background-image: url("../../bestiary/Stomper/avatar.jpg");}
.vignette.typeP6{background-image: url("../../bestiary/Royal Guard/avatar.jpg");}
.vignette.typeP7{background-image: url("../../bestiary/Abolished/avatar.jpg");}

.vignette.typeS1{background-image: url("../../bestiary/Snow Bunny/avatar.jpg");}
.vignette.typeS2{background-image: url("../../bestiary/Bouncer/avatar.jpg");}
.vignette.typeS3{background-image: url("../../bestiary/Deep Beauty/avatar.jpg");}
.vignette.typeS4{background-image: url("../../bestiary/Nightmare/avatar.jpg");}
.vignette.typeS5{background-image: url("../../bestiary/Adaptation/avatar.jpg");}
.vignette.typeS6{background-image: url("../../bestiary/Impaler/avatar.jpg");}
.vignette.typeS7{background-image: url("../../bestiary/Ice Demon/avatar.jpg");}

.vignette.typeW1{background-image: url("../../bestiary/Nutcase/avatar.jpg");}
.vignette.typeW2{background-image: url("../../bestiary/Flesh Cleanser/avatar.jpg");}
.vignette.typeW3{background-image: url("../../bestiary/Headless/avatar.jpg");}
.vignette.typeW4{background-image: url("../../bestiary/Horn Head/avatar.jpg");}
.vignette.typeW5{background-image: url("../../bestiary/Flayed/avatar.jpg");}
.vignette.typeW6{background-image: url("../../bestiary/Satyr/avatar.jpg");}
.vignette.typeW7{background-image: url("../../bestiary/Sarcophag/avatar.jpg");}
.vignette.typeWS{background-image: url("../../bestiary/Shadow Leech/avatar.jpg");}

.vignette.type0{background-image: url("../../bestiary/Dark Priest/avatar.jpg");}

.vignette.p0:after{background-image: url("../frames/red.png");}
.vignette.p1:after{background-image: url("../frames/blue.png");}
.vignette.p2:after{background-image: url("../frames/orange.png");}
.vignette.p3:after{background-image: url("../frames/green.png");}