#creaturegrid{
	display: block;
	height: 700px;
	width: 700px;
	margin: 0px auto;
	line-height: 0px;
	background-image:url("../../images/big_frame.png"); 
	background-size:100%; 
	padding:27px;
}

#creaturegrid .vignette,
.vignette div.border,
.vignette div.overlay{
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	position: relative;
	display: inline-block;
}

#creaturegrid .vignette div.overlay{	
	display: block;
	position: absolute;
	opacity: .75;
}

#creaturegrid .vignette div.border{
	display: block;
	position: absolute;
	background-image: url("../../images/frame.png");
}

#creaturegrid .vignette:hover div.border,
#creaturegrid .vignette.active div.border{background-image: url("../../images/frame_focused.png");}

#creaturegrid .vignette.dead 	div.overlay{ background-image: url("../icons/dead.svg"); }
#creaturegrid .vignette.locked 	div.overlay{ background-image: url("../icons/locked.svg"); }
#creaturegrid .vignette.queued 	div.overlay{ background-image: url("../icons/queue.svg");
	animation: pulse0106 750ms infinite alternate;
	-webkit-animation: pulse0106 750ms infinite alternate;
	-moz-animation: pulse0106 750ms infinite alternate;
	-o-animation: pulse0106 750ms infinite alternate;
}


