#creaturegrid{
	display: block;
	height: 700px;
	width: 700px;
	margin: 0px auto;
	line-height: 0px;
	background-image:url("../../images/big_frame.png"); 
	background-size:100%; 
	padding:27px;
}

#creaturegrid .vignette,
.vignette div.border,
.vignette div.overlay{
	height: 100px;
	width: 100px;
	background-size: 100% 100%;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

#creaturegrid .vignette div.overlay{	
	display: block;
	position: absolute;
	opacity: .75;
	z-index: 1;
}

#creaturegrid .vignette div.border{
	display: block;
	position: absolute;
	background-image: url("../../images/frame.png");
	z-index: 2;
}

#creaturegrid .vignette:hover div.border,
#creaturegrid .vignette.active div.border{background-image: url("../../images/frame_focused.png");}

#creaturegrid .vignette.dead 	div.overlay{ background-image: url("../icons/dead.svg"); }
#creaturegrid .vignette.notsummonable 	div.overlay{ background-image: url("../icons/plasma.svg"); }
#creaturegrid .vignette.locked 	div.overlay{ background-image: url("../icons/locked.svg"); }
#creaturegrid .vignette.queued 	div.overlay{ background-image: url("../icons/queue.svg");
	animation: pulse0106 750ms infinite alternate;
	-webkit-animation: pulse0106 750ms infinite alternate;
	-moz-animation: pulse0106 750ms infinite alternate;
	-o-animation: pulse0106 750ms infinite alternate;
}

#creaturegrid .vignette .tooltip{
	position: absolute;
	z-index: 3;
	bottom: 0px;
	transition: bottom 150ms;	
	-ms-transition: bottom 150ms;	
	-moz-transition: bottom 150ms; /* Firefox 4 */
	-webkit-transition: ottom 150ms; /* Safari and Chrome */
	-o-transition: bottom 150ms; /* Opera */
} 

#creaturegrid .vignette:hover .tooltip{
	position: absolute;
	bottom: 30px;
	left:  0px;
	display: block;
	z-index: 3;
} 

#dash #creaturegrid .tooltip .content{ width: 100px; }

#creaturegrid .tooltip .content{
	position: absolute;
	display: block;
	width: 128px;
	font-size: 85%;
	text-align: center;
	padding: 5px 2px;
	box-sizing: border-box;
	color: white;
	background: rgba(0,0,0,.9);
	line-height: 20px;
	border: 1px solid #555;
}
