@import url(http://fonts.googleapis.com/css?family=Play:400,700);
body{
	background: black url('../images/skulls.jpg') repeat;
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}

#combatwrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#combatframe *{ /*avoid selecting game elements*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#combatframe{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 1920px;
	min-height: 1080px;
	background: url('../../locations/Dark Forest/bg.jpg');
	background-repeat: repeat-x repeat-y;


	/*padding: 277px 0 0 0;*/
/*	position: absolute;
	top:0px;
	left:0px;*/

	transform-origin:0% 0%;
	-ms-transform-origin:0% 0%; /* IE 9 */
	-webkit-transform-origin:0% 0%; /* Safari and Chrome */
	-moz-transform-origin:0% 0%; /* Firefox */
	-o-transform-origin:0% 0%; /* Opera */

	/*Shadow*/
	-moz-box-shadow: 0px 0px 30px black;
	-webkit-box-shadow: 0px 0px 30px black;
	box-shadow: 0px 0px 30px black; 
}

#grid{
/*
	-webkit-perspective: 3000px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective: 3000px;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective: 3000px;
	-ms-perspective-origin: 50% 50%;
	-o-perspective: 3000px;
	-o-perspective-origin: 50% 50%;
	perspective: 3000px;
	perspective-origin: 50% 50%;*/

	width: 90.1em;
	height: 45em;
	position: relative;
	top: 327px;
	margin: 0 auto 0 auto;

}

#hexsinput, #hexsdisplay,#creatureWrapper, #hexsoverlay, #trapWrapper{
	position: relative;
	top: 0px;
	left: 0px;

	transform-origin:45.05em 22.5em;
	-ms-transform-origin:45.05em 22.5em; /* IE 9 */
	-webkit-transform-origin:45.05em 22.5em; /* Safari and Chrome */
	-moz-transform-origin:45.05em 22.5em; /* Firefox */
	-o-transform-origin:45.05em 22.5em; /* Opera */
}

#hexsinput, #hexsdisplay, #hexsoverlay, #trapWrapper{
	-webkit-transform: scaleY(0.75);
	-moz-transform: scaleY(0.75);
	-ms-transform: scaleY(0.75);
	-o-transform: scaleY(0.75);
	transform: scaleY(0.75);
}

#hexsdisplay{z-index: 1; opacity: .5;}
#hexsoverlay{z-index: 2;}
#creatureWrapper{z-index: 3;}
#hexsinput{z-index: 4;}



.row{position: absolute;}

.even{padding: 0px 2.818em;}


.hex{display: inline-block; position: absolute;}

#hexsdisplay .displayhex{background: url('../grid/hex.png');}
.displayhex{
	position: absolute;
	display: inline-block;
	width: 90px;
	height: 52px;
	margin: -36px -10px;
	padding: 36px 10px;
	transition: opacity 250ms;
	-moz-transition: opacity 250ms; /* Firefox 4 */
	-webkit-transition: opacity 250ms; /* Safari and Chrome */
	-ms-transition: opacity 250ms;
	-o-transition: opacity 250ms; /* Opera */
}

#hexsdisplay .displayhex.not-reachable{
	/*background: url('../grid/hex_not_reachable.png');*/
	opacity: 0;
}

#hexsinput .hex div,.hex div:before,.hex div:after{
	position: relative;
	display: block;
	color: black;
	margin: 0;
	padding:0;
	top: 0px;
	left: 0px;
	width: 90px;
	height: 52px;
	z-index: 99;
	text-align: center;	font-size: 20px; line-height: 20px; /*for debug*/
	cursor: pointer;
}

#hexsinput .hex div:before{
	position: relative;
	content: "";
	transform:rotate(-60deg);
	-ms-transform:rotate(-60deg); /* IE 9 */
	-moz-transform:rotate(-60deg); /* Firefox */
	-webkit-transform:rotate(-60deg); /* Safari and Chrome */
	-o-transform:rotate(-60deg); /* Opera */
}

#hexsinput .hex div:after{
	position: absolute;
	content: "";
	transform:rotate(60deg);
	-ms-transform:rotate(60deg); /* IE 9 */
	-moz-transform:rotate(60deg); /* Firefox */
	-webkit-transform:rotate(60deg); /* Safari and Chrome */
	-o-transform:rotate(60deg); /* Opera */
}

#hexsoverlay .displayhex.hover{ z-index: 8;}

#hexsdisplay .adj{background: url("../grid/hex_path.png");  z-index: 5; opacity: 1;}

/*--------------------Players------------------*/
.displayhex.creature{z-index: 6 !important; opacity: 1 !important;}

#hexsoverlay .displayhex.creature.active,
#hexsoverlay .displayhex.creature.selected{
	animation: pulse0510 750ms infinite alternate;
	-webkit-animation: pulse0510 750ms infinite alternate;
	-moz-animation: pulse0510 750ms infinite alternate;
	-ms-animation: pulse0510 750ms infinite alternate;
	-o-animation: pulse0510 750ms infinite alternate;
}

#hexsoverlay .displayhex.hover{background: url("../grid/hex.png");}
/*p0*/
#hexsoverlay .displayhex.hover.h_player0{background: url("../grid/hex_hover_p0.png");}
#hexsoverlay .displayhex.creature.active.player0,
#hexsoverlay .displayhex.creature.selected.player0,
#hexsdisplay .displayhex.creature.player0{background: url("../grid/hex_p0.png");}
/*p1*/
#hexsoverlay .displayhex.hover.h_player1{background: url("../grid/hex_hover_p1.png");}
#hexsoverlay .displayhex.creature.active.player1,
#hexsoverlay .displayhex.creature.selected.player1,
#hexsdisplay .displayhex.creature.player1{background: url("../grid/hex_p1.png");}
/*p2*/
#hexsoverlay .displayhex.hover.h_player2{background: url("../grid/hex_hover_p2.png");}
#hexsoverlay .displayhex.creature.active.player2,
#hexsoverlay .displayhex.creature.selected.player2,
#hexsdisplay .displayhex.creature.player2{background: url("../grid/hex_p2.png");}
/*p3*/
#hexsoverlay .displayhex.hover.h_player3{background: url("../grid/hex_hover_p3.png");}
#hexsoverlay .displayhex.creature.active.player3,
#hexsoverlay .displayhex.creature.selected.player3,
#hexsdisplay .displayhex.creature.player3{background: url("../grid/hex_p3.png");}

#hexsdisplay .displayhex.creature.hidden{ opacity: 0 !important; }

/*------------------Creatures------------------*/

#creatureWrapper .creature .effects{
	position: relative;
	top: 0px;
	left: 0px;
}

#creatureWrapper .creature{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;

	transition: opacity 500ms;
	-moz-transition: opacity 500ms; /* Firefox 4 */
	-ms-transition: opacity 500ms;
	-webkit-transition: opacity 500ms; /* Safari and Chrome */
	-o-transition: opacity 500ms; /* Opera */
}

#creatureWrapper div.creature.flipped{
	transform: scale(-1,1) ;
	-ms-transform: scale(-1,1) ; /* IE 9 */
	-moz-transform: scale(-1,1) ; /* Firefox */
	-webkit-transform: scale(-1,1) ; /* Safari and Chrome */
	-o-transform: scale(-1,1) ; /* Opera */
}

.creature{
	transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-moz-transition: opacity 500ms; /* Firefox 4 */
	-webkit-transition: opacity 500ms; /* Safari and Chrome */
	-o-transition: opacity 500ms; /* Opera */
}
.creature.ghosted{opacity: .25;}
.ghosted_hidden{opacity: .4!important;}

/*-----Magma Spawn----*/
#creatureWrapper .creature.type_4{ 
	width: 206px;
	height: 148px;
	margin-top: -124px;
	margin-left: 35px;
	padding: 0px 0px 10px;
	-webkit-transform-origin:65% 100%; 
	-moz-transform-origin:65% 100%;
	-o-transform-origin:65% 100%; 
	-ms-transform-origin:65% 100%;
	background: url("../../bestiary/Magma Spawn/cardboard.png");
}
#creatureWrapper div.creature.flipped.type_4{ 
	-webkit-transform-origin:48% 100%; 
	-moz-transform-origin:48% 100%; 
	-ms-transform-origin:48% 100%; 
	-o-transform-origin:48% 100%; 
}

/*-----Snow Bunny----*/
#creatureWrapper .creature.type_12{ 
	width: 95px;
	height: 125px;
	margin-top: -100px;
	padding: 0px 0px 10px;
	-webkit-transform-origin:65% 100%;
	-moz-transform-origin:65% 100%;
	-ms-transform-origin:65% 100%;
	-o-transform-origin:65% 100%;
	background: url("../../bestiary/Snow Bunny/cardboard.png");
}
#creatureWrapper div.creature.flipped.type_12{ 
	-webkit-transform-origin:48% 100%; 
	-moz-transform-origin:48% 100%; 
	-ms-transform-origin:48% 100%; 
	-o-transform-origin:48% 100%; 
}

/*-----Impaler----*/
#creatureWrapper .creature.type_5{ 
	width: 225px;
	height: 202px;
	margin-top: -181px;
	margin-left: 28px;
	padding: 0px 0px 10px;
	-webkit-transform-origin:65% 100%;
	-moz-transform-origin:65% 100%;
	-ms-transform-origin:65% 100%;
	-o-transform-origin:65% 100%;

	background: url("../../bestiary/Impaler/cardboard.png");
}
#creatureWrapper div.creature.flipped.type_5{ 
	-webkit-transform-origin:42% 100%; 
	-moz-transform-origin:42% 100%; 
	-ms-transform-origin:42% 100%; 
	-o-transform-origin:42% 100%; 
}

/*-----Swine Thug----*/
#creatureWrapper .creature.type_37{ 
	width: 140px;
	height: 190px;
	margin-top: -150px;
	margin-left: -21px;
	padding: 0px 0px 0px;
	-webkit-transform-origin:39% 100%;
	-moz-transform-origin:39% 100%;
	-ms-transform-origin:39% 100%;
	-o-transform-origin:39% 100%;

	background: url("../../bestiary/Swine Thug/cardboard.png");
}
#creatureWrapper div.creature.flipped.type_37{ 
	-webkit-transform-origin:47% 100%; 
	-moz-transform-origin:47% 100%; 
	-ms-transform-origin:47% 100%; 
	-o-transform-origin:47% 100%; 
}

/*-----Uncle Fungus----*/
#creatureWrapper .creature.type_3{ 
	width: 165px;
	height: 195px;
	margin-top: -123px;
	margin-left: 11px;
	padding: 0px 0px 0px;
	-webkit-transform-origin:63% 100%;
	-moz-transform-origin:63% 100%;
	-ms-transform-origin:63% 100%;
	-o-transform-origin:63% 100%;

	background: url("../../bestiary/Uncle Fungus/cardboard.png");
}
#creatureWrapper div.creature.flipped.type_3{ 
	-webkit-transform-origin:48% 100%; 
	-moz-transform-origin:48% 100%; 
}

/*-----Chimera----*/
#creatureWrapper .creature.type_45{ 
	width: 300px;
	height: 220px;
	margin-top: -189px;
	margin-left: -14px;
	padding: 0px 0px 0px;
	-webkit-transform-origin:43% 100%;
	-moz-transform-origin:43% 100%;
	-ms-transform-origin:43% 100%;
	-o-transform-origin:43% 100%;

	background: url("../../bestiary/Chimera/cardboard.png");
}
#creatureWrapper div.creature.flipped.type_45{ 
	-webkit-transform-origin:50% 100%; 
	-moz-transform-origin:50% 100%; 
	-ms-transform-origin:50% 100%; 
	-o-transform-origin:50% 100%; 
}

/*-----Dark Priest----*/
#creatureWrapper .creature.type_0{
	width: 108px;
	height: 200px;
	margin-top: -164px;
	padding: 0px 0px 0px;
	-webkit-transform-origin:-25% 100%; /* Safari and Chrome */
	-moz-transform-origin:-25% 100%; /* Safari and Chrome */
	-ms-transform-origin:-25% 100%; /* Safari and Chrome */
	-o-transform-origin:-25% 100%; /* Safari and Chrome */
	background-image: url("../../bestiary/Dark Priest/cardboard-red.png");
}
#creatureWrapper .creature.type_0.p0{background-image: url("../../bestiary/Dark Priest/cardboard-red.png");}
#creatureWrapper .creature.type_0.p1{background-image: url("../../bestiary/Dark Priest/cardboard-blue.png");}
#creatureWrapper .creature.type_0.p2{background-image: url("../../bestiary/Dark Priest/cardboard-orange.png");}
#creatureWrapper .creature.type_0.p3{background-image: url("../../bestiary/Dark Priest/cardboard-green.png");}
#creatureWrapper div.creature.flipped.type_0{ 
	-webkit-transform-origin:46% 100%;
	-moz-transform-origin:46% 100%;
	-ms-transform-origin:46% 100%;
	-o-transform-origin:46% 100%;
}

/*-----------------EFFECTS-------------------*/

#creatureWrapper .damage,
#creatureWrapper .healing,
#creatureWrapper .msg_effects{
	font-size: 220%;
	color: red;
	font-style: italic;
	font-weight: bold;
	text-shadow: 2px 2px 7px  black;
	display: block;
	position: absolute;
	height: 50px;
	width: 500px;
	margin-left: -250px;
	top:0px;
	left: 50%;
	text-align: center;
	white-space: nowrap;
}
#creatureWrapper .healing{color: green;}
#creatureWrapper .msg_effects{color: yellow;}

#creatureWrapper .health{
	position: absolute;
	display: block;
	width: 50px;
	height: 20px;
	border: 2px solid;
	background: rgba(0,0,0,.5);
	color: white;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	margin-top: 49px;
	margin-left: 16px;
	transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-moz-transition: opacity 500ms; /* Firefox 4 */
	-webkit-transition: opacity 500ms; /* Safari and Chrome */
	-o-transition: opacity 500ms; /* Opera */
}

.health.ghosted{opacity: .25;}
.materialize_overlay {opacity: 0.25;}

#creatureWrapper .p0.health{border-color: red;}
#creatureWrapper .p1.health{border-color: blue;}
#creatureWrapper .p2.health{border-color: orange;}
#creatureWrapper .p3.health{border-color: green;}

#creatureWrapper .flipped .damage,
#creatureWrapper .flipped .msg_effects,
#creatureWrapper .flipped .healing{ 
	-webkit-transform: scale(-1,1); 
	-ms-transform: scale(-1,1); 
	-moz-transform: scale(-1,1); 
	-o-transform: scale(-1,1); 
	transform: scale(-1,1); 
}

/*-----------------UI-------------------*/
#ui{
	top: 0px;
	left: 0px;
	display: block;
	width: 0px;
	height: 0px;
}

#toppanel{
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 2;
}

#bottompanel{
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 2;
}

#rightpanel{
	position: absolute;
	right: 0px;
	top: 100px;
}
#leftpanel{
	position: absolute;
	left: 0px;
	z-index: 0;
}

.button{
	width:80px;
	height:80px;
	cursor: pointer;
	background-size: 100% 100%;
}

.button:before{
	content: "";
	display: block;
	position: absolute;
	height: 80px;
	width: 80px;
	background-size: 100% 100%;
	background-image: url('../../images/contour.png');
}

.button.used:before{ background-image: url('../../images/contour_dimmed.png'); }

.used { cursor:default !important; }

.button.blink{
	animation: pulse0510 750ms infinite alternate;
	-webkit-animation: pulse0510 750ms infinite alternate;
	-ms-animation: pulse0510 750ms infinite alternate;
	-moz-animation: pulse0510 750ms infinite alternate;
	-o-animation: pulse0510 750ms infinite alternate;
}

#end{ background-image: url('../icons/end.svg'); }
#delay{ background-image: url('../icons/skip.svg'); }
#surrender{ background-image: url('../icons/surrender.svg'); }
#playerbutton{
	z-index: 2; 
	right: 0px; 
	position: fixed; 
	cursor: pointer; 
}

#playerinfos{
	z-index: 2;
	right: 100px;
	top: 0px;
	position: fixed;
	display: block;
	height: 80px;
	width: auto;
	background: rgba(0,0,0,.8);
	border: 2px solid grey;
	padding: 0px 7px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: right;
}

#playerinfos p{margin: 4px;}
#playerinfos .name{	font-size: 15px; }

.alert{color: red;}

/*-------------------dash-------------------*/

#dash{
	background: rgba(0,0,0,.85);
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100%;
	z-index: 3;
	transition: top 250ms;
	-ms-transition: top 250ms;
	-moz-transition: top 250ms; /* Firefox 4 */
	-webkit-transition: top 250ms; /* Safari and Chrome */
	-o-transition: top 250ms; /* Opera */
}

#dash.active{top:0%;}

#dash #tooltip{
	display: block;
	position: absolute; 
	top: -100px; 
	left: 0px; 
	right: 100px;
	height: 100px;
	color: white;
	text-align: center;
}
#dash #tooltip.active{top: 0px;}

#dash #creaturegrid{
	height: 700px;
	width: 700px;
	display: inline-block;
	top: 0px;
	bottom: 0px;
	padding:20px;
}

#dash #return{
	top: 0px;
	right: 0px !important; 
	position: absolute;
	height: 100px; 
	width: 100px; 
	background-image: url('../icons/combat.svg'); 
}

#return.button:before{ height: 100px; width: 100px;}

#playertabswrapper{ 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 100px;
	display: none;
}
#playertabswrapper.active{display: block;}

#playertabswrapper.numplayer2 .playertabs{width: 50%;}
#playertabswrapper.numplayer2 .playertabs.p2, #playertabswrapper.numplayer2 .playertabs.p3{display: none;}

#playertabswrapper.numplayer4 .playertabs{width: 25%;}

#playertabswrapper .playertabs{
	height: 100px;
	display: inline-block;
	color: white;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
}

#playertabswrapper .vignette{
	float: left;
}
#playertabswrapper .infos{
	margin-left: 110px
}

#playertabswrapper .playertabs h3{margin: 7px}
#playertabswrapper .playertabs p{margin: 5px;}

.selected0 .playertabs.p0,.selected0 #cardwrapper,.selected0 #creaturegridwrapper{background-color: rgba(255,0,0,.15);}
.selected1 .playertabs.p1,.selected1 #cardwrapper,.selected1 #creaturegridwrapper{background-color: rgba(0,0,255,.15);}
.selected2 .playertabs.p2,.selected2 #cardwrapper,.selected2 #creaturegridwrapper{background-color: rgba(255,172,0,0.15);}
.selected3 .playertabs.p3,.selected3 #cardwrapper,.selected3 #creaturegridwrapper{background-color: rgba(0,255,0,.15);}

#tabwrapper{
	top: 100px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: absolute;
}

#creaturegridwrapper{
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 46%;
	position: absolute;
	overflow: auto;
	text-align: center;
	vertical-align: middle;
}

#cardwrapper{
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 54%;
	position: absolute;
	overflow: auto;
	text-align: center;
	vertical-align: middle;
	color: white;
}

#card{
	width: 870px;
	margin: auto;
}

#summon_buttons{ 
	width: 860px;
	margin: auto;
	margin-top:10px;
}

#materialize_button{
	font-size:24px;
	font-weight:bold;
	width: 860px;
	background: #555;
	display: inline-block;
	cursor: pointer;
}

#materialize_button h3{
	margin: 5px;
}

#materialize_button p{
	font-size:16px;
	margin-top:0px;
	font-weight:normal;
}

#summon_buttons .ability{float: left;}
#summon_buttons .ability_satellite{float: right;}
#materialize_button .ability{ background-image: url("../../bestiary/Dark%20Priest/3.svg"); }
#materialize_button .ability_satellite{ background-image: url("../../bestiary/Dark%20Priest/0.svg"); }
.summon_button_disabled{ opacity:0.3; }

.buff{ color: green; }
.debuff{ color: red; }

/*-------------------Queue-------------------*/

#queuewrapper{display: block; width: 4000px;}
#queue{
	width: 820px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	z-index: 1;
}

#queue .queue{
	vertical-align: top;
	display: inline-block;
}

.vignette,
.vignette div{
	overflow: hidden;
	vertical-align: top;
	display: inline-block;
	height: 80px;
	width: 80px;
	background-size: 100% 100%;
	cursor: pointer;

	transition: width 500ms,height 500ms;
	-ms-transition: width 500ms,height 500ms;
	-moz-transition: width 500ms,height 500ms; /* Firefox 4 */
	-webkit-transition: width 500ms,height 500ms; /* Safari and Chrome */
	-o-transition: width 500ms,height 500ms; /* Opera */
}

.vignette.active,.vignette.active div{
	height: 100px;
	width: 100px;
}

/*#queue .vignette.hidden,#queue .vignette.hidden div{width: 0px; height: 80px;}*/

.vignette.p0 div,#abilities.p0 .ability.active::before{background-image: url("../frames/red.png");}
.vignette.p1 div,#abilities.p1 .ability.active::before{background-image: url("../frames/blue.png");}
.vignette.p2 div,#abilities.p2 .ability.active::before{background-image: url("../frames/orange.png");}
.vignette.p3 div,#abilities.p3 .ability.active::before{background-image: url("../frames/green.png");}


/*---------------TEXTBOX--------------*/
#textbox{
	width: 800px;
	height: 40px;
	background-color: black;
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-left: -400px;
	overflow-y: scroll;
	transition: height 500ms;	
	-ms-transition: height 500ms;	
	-moz-transition: height 500ms; /* Firefox 4 */
	-webkit-transition: height 500ms; /* Safari and Chrome */
	-o-transition: height 500ms; /* Opera */
}

#textbox:hover{
	height: 300px;
}
#textbox #textcontent{
	font-size: 11px;
	color: white;
	padding: 10px;
	width: 760px;
}

#textbox #textcontent p{
	margin: 2px 0 7px;
}


/*---------------ACTIVE CREATURE--------------*/
#activebox{
	position: relative;
	left: 0px;
	top: 100px;
}

#activebox .ability{
	display: block;
}

#abilities{
	background: black;
}

.button .desc{
	position: relative;
	top: 1px;
	display: block;
	height: 76px;
	width: 0px;
	left: 80px;
	color: white;
	background: rgba(0,0,0,.8);
	overflow: hidden;
}

.button:hover .desc{
	width: 230px;
	border: 1px #555 solid;
}

.button .desc span {
	display: block;
	margin: 0;
	padding: 7px 7px 0 7px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.button .desc p {
	margin: 0;
	padding: 5px 7px;
	font-size: 11px;
	color: #aaa;

}

#rightpanel .button:hover .desc{
	left: -230px;
	text-align: right;
}

/*-----------------Animations-------------------*/

/*Pulse between .6 and .1 opacity*/
@keyframes pulse0106 { 0% {opacity: .1;} 100% {opacity: .6;} }
@-moz-keyframes pulse0106 { 0% {opacity: .1;} 100% {opacity: .6;} }
@-webkit-keyframes pulse0106 { 0% {opacity: .1;} 100% {opacity: .6;} }
@-o-keyframes pulse0106 { 0% {opacity: .1;} 100% {opacity: .6;} }

/*Pulse between .8 and 1 opacity*/
@keyframes pulse0510 { 0% {opacity: .5;} 100% {opacity: 1;} }
@-moz-keyframes pulse0510 { 0% {opacity: .5;} 100% {opacity: 1;} }
@-webkit-keyframes pulse0510 { 0% {opacity: .5;} 100% {opacity: 1;} }
@-o-keyframes pulse0510 { 0% {opacity: .5;} 100% {opacity: 1;} }


/*----------------Game setup--------------*/

#matchmaking{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99;
	text-align: center;
	background: black url('../../images/Reaper.jpg') no-repeat center top;
	color: white;
}
#loader{
	width: 200px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -2px;
	line-height: 50px;
	font-size: 40px;
	display: none;
}

/*--------------Scoreboard------------------*/

#endscreen{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	display: block;
	background: rgba(0,0,0,.8);
}

#scoreboard{
	width: 450px;
	height: 420px;
	color: white;
	margin: 30px auto 0;
	background: black;
	border: 2px grey solid;
}

#scoreboard table{
	color: white;
	text-align: center;
	margin: auto;
}


#scoreboard h1{
	text-align: center;
}

#scoreboard p{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

/*--------------------TRAPS--------------------*/
.trap {
	width: 90px;
	height: 52px;
	margin: -36px -10px;
	padding: 36px 10px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

.trap.mud-bath {
	background: url("../grid/trap_mud.png");
}
