@import url(http://fonts.googleapis.com/css?family=Play:400,700);
body{
	background: black url('../../images/skulls.jpg') repeat;
	margin: 0;
	padding: 0;
	font-family: 'Play', sans-serif;
}

*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

#combatwrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

#combatframe *{ /*avoid selecting game elements*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#combatframe{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1920px;
	height: 1080px;
	background: url('../../locations/Dark Forest/bg.jpg');

	/*padding: 277px 0 0 0;*/
/*	position: absolute;
	top:0px;
	left:0px;*/

	transform-origin:0% 0%;
	-ms-transform-origin:0% 0%; /* IE 9 */
	-webkit-transform-origin:0% 0%; /* Safari and Chrome */
	-moz-transform-origin:0% 0%; /* Firefox */
	-o-transform-origin:0% 0%; /* Opera */

	/*Shadow*/
	-moz-box-shadow: 0px 0px 30px black;
	-webkit-box-shadow: 0px 0px 30px black;
	box-shadow: 0px 0px 30px black; 
}

#grid{
/*
	-webkit-perspective: 3000px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective: 3000px;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective: 3000px;
	-ms-perspective-origin: 50% 50%;
	-o-perspective: 3000px;
	-o-perspective-origin: 50% 50%;
	perspective: 3000px;
	perspective-origin: 50% 50%;*/

	width: 90.1em;
	height: 45em;
	position: relative;
	top: 327px;
	margin: 0 auto 0 auto;

}

#hexsinput, #hexsdisplay,#creatureWrapper, #hexsoverlay, #trapWrapper{
	position: relative;
	top: 0px;
	left: 0px;

	transform-origin:45.05em 22.5em;
	-ms-transform-origin:45.05em 22.5em; /* IE 9 */
	-webkit-transform-origin:45.05em 22.5em; /* Safari and Chrome */
	-moz-transform-origin:45.05em 22.5em; /* Firefox */
	-o-transform-origin:45.05em 22.5em; /* Opera */
}

#hexsinput, #hexsdisplay, #hexsoverlay{
	-webkit-transform: scaleY(0.75);
	-moz-transform: scaleY(0.75);
	-ms-transform: scaleY(0.75);
	-o-transform: scaleY(0.75);
	transform: scaleY(0.75);
}

#hexsdisplay{z-index: 1; opacity: .5;}
#hexsoverlay{z-index: 2;}
#creatureWrapper{z-index: 3;}
#hexsinput{z-index: 4;}



.row{position: absolute;}

.even{padding: 0px 2.818em;}


.hex{display: inline-block; position: absolute;}

#hexsdisplay .displayhex{background: url('../grid/hex.png');}
.displayhex{
	position: absolute;
	display: inline-block;
	width: 90px;
	height: 52px;
	margin: -36px -10px;
	padding: 36px 10px;
	line-height: 52px;
	text-align: center;
	font-size: 35px;
	/*text-shadow: 0px 0px 5px rgba(255,255,255,0.7);*/
	transition: opacity 250ms;
	-moz-transition: opacity 250ms; /* Firefox 4 */
	-webkit-transition: opacity 250ms; /* Safari and Chrome */
	-ms-transition: opacity 250ms;
	-o-transition: opacity 250ms; /* Opera */
}

#hexsdisplay .displayhex.not-reachable{
	/*background: url('../grid/hex_not_reachable.png');*/
	opacity: 0;
}




#hexsinput .hex div,.hex div:before,.hex div:after{
	position: relative;
	display: block;
	color: black;
	margin: 0;
	padding:0;
	top: 0px;
	left: 0px;
	width: 90px;
	height: 52px;
	z-index: 99;
	text-align: center;	font-size: 20px; line-height: 20px; /*for debug*/
	cursor: pointer;
}

#hexsinput .hex div:before{
	position: relative;
	content: "";
	transform:rotate(-60deg);
	-ms-transform:rotate(-60deg); /* IE 9 */
	-moz-transform:rotate(-60deg); /* Firefox */
	-webkit-transform:rotate(-60deg); /* Safari and Chrome */
	-o-transform:rotate(-60deg); /* Opera */
}

#hexsinput .hex div:after{
	position: absolute;
	content: "";
	transform:rotate(60deg);
	-ms-transform:rotate(60deg); /* IE 9 */
	-moz-transform:rotate(60deg); /* Firefox */
	-webkit-transform:rotate(60deg); /* Safari and Chrome */
	-o-transform:rotate(60deg); /* Opera */
}

#hexsinput .hex.not-reachable div,
#hexsinput .hex.not-reachable div:after,
#hexsinput .hex.not-reachable div:before{
	cursor: default;
}

#hexsoverlay .displayhex.hover{ z-index: 8;}

#hexsdisplay .adj{background: url("../grid/hex_path.png");  z-index: 5; opacity: 1;}
#hexsdisplay .displayhex.dashed{background: url("../grid/hex_dashed.png");  z-index: 5; opacity: 1 !important;}

#hexsdisplay .displayhex.showGrid{ opacity: 1 !important; }

/*--------------------Players------------------*/
.displayhex.creature{z-index: 6 !important; opacity: 1 !important;}

#hexsoverlay .displayhex.creature.active,
#hexsoverlay .displayhex.creature.selected{
	animation: pulse0510 750ms infinite alternate;
	-webkit-animation: pulse0510 750ms infinite alternate;
	-moz-animation: pulse0510 750ms infinite alternate;
	-ms-animation: pulse0510 750ms infinite alternate;
	-o-animation: pulse0510 750ms infinite alternate;
}
#hexsoverlay .displayhex.creature.selected.weakDmg{
	animation: pulse0205 750ms infinite alternate;
	-webkit-animation: pulse0205 750ms infinite alternate;
	-moz-animation: pulse0205 750ms infinite alternate;
	-ms-animation: pulse0205 750ms infinite alternate;
	-o-animation: pulse0205 750ms infinite alternate;
}


#hexsoverlay .displayhex.hover{background: url("../grid/hex.png");}
/*p0*/
#hexsoverlay .displayhex.hover.h_player0,
#hexsoverlay .displayhex.creature.player0.ownCreatureHexShade{background: url("../grid/hex_hover_p0.png") !important;}
#hexsoverlay .displayhex.creature.active.player0,
#hexsoverlay .displayhex.creature.selected.player0,
#hexsdisplay .displayhex.creature.player0{background: url("../grid/hex_p0.png");}
/*p1*/
#hexsoverlay .displayhex.hover.h_player1,
#hexsoverlay .displayhex.creature.player1.ownCreatureHexShade{background: url("../grid/hex_hover_p1.png") !important;}
#hexsoverlay .displayhex.creature.active.player1,
#hexsoverlay .displayhex.creature.selected.player1,
#hexsdisplay .displayhex.creature.player1{background: url("../grid/hex_p1.png");}
/*p2*/
#hexsoverlay .displayhex.hover.h_player2
#hexsoverlay .displayhex.creature.player2.ownCreatureHexShade{background: url("../grid/hex_hover_p2.png") !important;}
#hexsoverlay .displayhex.creature.active.player2,
#hexsoverlay .displayhex.creature.selected.player2,
#hexsdisplay .displayhex.creature.player2{background: url("../grid/hex_p2.png");}
/*p3*/
#hexsoverlay .displayhex.hover.h_player3
#hexsoverlay .displayhex.creature.player3.ownCreatureHexShade{background: url("../grid/hex_hover_p3.png") !important;}
#hexsoverlay .displayhex.creature.active.player3,
#hexsoverlay .displayhex.creature.selected.player3,
#hexsdisplay .displayhex.creature.player3{background: url("../grid/hex_p3.png");}

#hexsdisplay .displayhex.creature.hidden{ opacity: 0 !important; }
#hexsdisplay .displayhex.creature.dashed{background: url("../grid/hex_dashed.png");  z-index: 5; opacity: 1 !important;}
/*------------------Creatures------------------*/

#creatureWrapper .creature .effects{
	position: absolute;
	bottom: 100%;
	left: 0px;
}

#creatureWrapper .creature{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;

	-webkit-transform-origin:50% 0%; 
	-moz-transform-origin:50% 0%;
	-o-transform-origin:50% 0%; 
	-ms-transform-origin:50% 0%;

	transition: opacity 500ms;
	-moz-transition: opacity 500ms; /* Firefox 4 */
	-ms-transition: opacity 500ms;
	-webkit-transition: opacity 500ms; /* Safari and Chrome */
	-o-transition: opacity 500ms; /* Opera */
}

#creatureWrapper div.creature.flipped{
	transform: scale(-1,1) ;
	-ms-transform: scale(-1,1) ; /* IE 9 */
	-moz-transform: scale(-1,1) ; /* Firefox */
	-webkit-transform: scale(-1,1) ; /* Safari and Chrome */
	-o-transform: scale(-1,1) ; /* Opera */
}

.creature{
	transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-moz-transition: opacity 500ms; /* Firefox 4 */
	-webkit-transition: opacity 500ms; /* Safari and Chrome */
	-o-transition: opacity 500ms; /* Opera */
}
.creature.ghosted{opacity: .25 !important;}
.ghosted_hidden{opacity: .4 !important;}
.creature.dead{opacity: 0 !important;}

/*-----------------Drops-------------------*/
.drop{
	position: absolute;
	margin-left: 23px;
	margin-top: -4px;
	width: 50px;
	height: 50px;
}

/*-----------------EFFECTS-------------------*/

#creatureWrapper .effects div{
	font-size: 220%;
	color: red;
	font-style: italic;
	font-weight: bold;
	text-shadow: 2px 2px 7px  black;
	display: block;
	position: absolute;
	height: 50px;
	width: 500px;
	bottom: 0px;
	text-align: center;
	white-space: nowrap;
}
#creatureWrapper .effects div.confirm{color: white; text-shadow:#000 1px 1px 2px,#000 -1px -1px 2px;
	animation: pulse0510 750ms infinite alternate;
	-webkit-animation: pulse0510 750ms infinite alternate;
	-ms-animation: pulse0510 750ms infinite alternate;
	-moz-animation: pulse0510 750ms infinite alternate;
	-o-animation: pulse0510 750ms infinite alternate;
}
#creatureWrapper .effects div.gamehintblack{color: black; text-shadow:#FFF 1px 1px 2px,#FFF -1px -1px 2px;}
#creatureWrapper .effects div.healing{color: green;}
#creatureWrapper .effects div.msg_effects{color: yellow;}

#creatureWrapper .health{
	position: absolute;
	display: block;
	width: 50px;
	height: 20px;
	border: 2px solid;
	background: rgba(0,0,0,.5);
	color: white;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	margin-top: 49px;
	margin-left: 16px;
	transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-moz-transition: opacity 500ms; /* Firefox 4 */
	-webkit-transition: opacity 500ms; /* Safari and Chrome */
	-o-transition: opacity 500ms; /* Opera */
}

.health.plasma{ border-radius: 10px; }

.health.ghosted{opacity: .25;}
.materialize_overlay {opacity: 0.25;}

#creatureWrapper .p0.health{border-color: red;}
#creatureWrapper .p1.health{border-color: blue;}
#creatureWrapper .p2.health{border-color: orange;}
#creatureWrapper .p3.health{border-color: green;}

#creatureWrapper .flipped .effects div{ 
	-webkit-transform: scale(-1,1); 
	-ms-transform: scale(-1,1); 
	-moz-transform: scale(-1,1); 
	-o-transform: scale(-1,1); 
	transform: scale(-1,1); 
}

/*-----------------UI-------------------*/
#ui{
	top: 0px;
	left: 0px;
	display: block;
	width: 0px;
	height: 0px;
}

#toppanel{
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 2;
}

#bottompanel{
	position: fixed;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: 2;
}

#rightpanel{
	position: absolute;
	right: 20px;
	top: 100px;
}
#leftpanel{
	position: absolute;
	left: 0px;
	z-index: 0;
}

.button{
	width:80px;
	height:80px;
	cursor: pointer;
	background-size: 100% 100%;
}

.button.noclick:hover:before{
	background-image: url('../../images/contour_dimmed.png');	
}

.button:before{
	content: "";
	display: block;
	position: absolute;
	height: 80px;
	width: 80px;
	background-size: 100% 100%;
	background-image: url('../../images/contour.png');
}

.button.disabled:before{ background-image: url('../../images/contour_dimmed.png'); }

.disabled { cursor:default !important; }

.button.glowing{
	animation: pulse0510 750ms infinite alternate;
	-webkit-animation: pulse0510 750ms infinite alternate;
	-ms-animation: pulse0510 750ms infinite alternate;
	-moz-animation: pulse0510 750ms infinite alternate;
	-o-animation: pulse0510 750ms infinite alternate;
}

.button#audio{ background-image: url('../icons/music.svg');}
.button#skip{ background-image: url('../icons/skip.svg'); }
.button#delay{ background-image: url('../icons/delay.svg'); }
.button#flee{ background-image: url('../icons/flee.svg'); }

#playerbutton{
	z-index: 2; 
	right: 0px; 
	position: fixed; 
	cursor: pointer; 
}

#playerinfos{
	z-index: 2;
	right: 100px;
	top: 0px;
	position: fixed;
	display: block;
	height: 80px;
	width: auto;
	background: rgba(0,0,0,.8);
	border: 2px solid grey;
	padding: 0px 7px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: right;
}

#playerinfos p{margin: 4px;}
#playerinfos .name{	font-size: 15px; }

.alert{color: red;}

/*-------------------dash-------------------*/

#dash{
	background: rgba(0,0,0,.85);
	width: 100%;
	height: 100%;
	position: fixed;
	top: -100%;
	z-index: 3;
	transition: top 250ms;
	-ms-transition: top 250ms;
	-moz-transition: top 250ms; /* Firefox 4 */
	-webkit-transition: top 250ms; /* Safari and Chrome */
	-o-transition: top 250ms; /* Opera */
}

#dash.active{top:0%;}

#dash #tooltip{
	display: block;
	position: absolute; 
	top: -100px; 
	left: 0px; 
	right: 100px;
	height: 100px;
	color: white;
	text-align: center;
}
#dash #tooltip.active{top: 0px;}

#dash #creaturegrid{
	height: 700px;
	width: 700px;
	display: inline-block;
	top: 0px;
	bottom: 0px;
	padding:20px;
}

#dash #return{
	top: 0px;
	right: 0px !important; 
	position: absolute;
	height: 100px; 
	width: 100px; 
	background-image: url('../icons/combat.svg'); 
}

#return.button:before{ height: 100px; width: 100px;}

#playertabswrapper{ 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	right: 100px;
	display: none;
}
#playertabswrapper.active{display: block;}

#playertabswrapper.numplayer2 .playertabs{width: 50%;}
#playertabswrapper.numplayer2 .playertabs.p2, #playertabswrapper.numplayer2 .playertabs.p3{display: none;}

#playertabswrapper.numplayer4 .playertabs{width: 25%;}

#playertabswrapper .playertabs{
	height: 100px;
	display: inline-block;
	color: white;
	font-size: 12px;
	text-align: left;
	cursor: pointer;
}

#playertabswrapper .vignette{
	float: left;
}
#playertabswrapper .infos{
	margin-left: 110px
}

#playertabswrapper .playertabs h3{margin: 7px}
#playertabswrapper .playertabs p{margin: 5px;}

.selected0 .playertabs.p0,.selected0 #cardwrapper,.selected0 #creaturegridwrapper{background-color: rgba(255,0,0,.15);}
.selected1 .playertabs.p1,.selected1 #cardwrapper,.selected1 #creaturegridwrapper{background-color: rgba(0,0,255,.15);}
.selected2 .playertabs.p2,.selected2 #cardwrapper,.selected2 #creaturegridwrapper{background-color: rgba(255,172,0,0.15);}
.selected3 .playertabs.p3,.selected3 #cardwrapper,.selected3 #creaturegridwrapper{background-color: rgba(0,255,0,.15);}

#musicplayerwrapper, #tabwrapper{
	top: 100px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: absolute;
}

#musicplayerwrapper,#musicplayerwrapper a{
	text-align: center;
	color: #AAA;
}

#musicplayerwrapper .active,#musicplayerwrapper .active a{
	color: white !important;
}


#creaturegridwrapper{
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 46%;
	position: absolute;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

#cardwrapper{
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 54%;
	position: absolute;
	overflow: auto;
	text-align: center;
	vertical-align: middle;
	color: white;
}

#cardwrapper_inner{
	transform-origin:0% 0%;
	-ms-transform-origin:0% 0%; /* IE 9 */
	-webkit-transform-origin:0% 0%; /* Safari and Chrome */
	-moz-transform-origin:0% 0%; /* Firefox */
	-o-transform-origin:0% 0%; /* Opera */
}

#card{
	width: 870px;
	margin: auto;
}

#materialize_button{
	font-size:24px;
	font-weight:bold;
	width: 860px;
	height: 85px;
	margin: 0px 5px;
	cursor: default;
	display: inline-block;
	background-image: url("../../images/button.png");
	background-repeat: no-repeat;
}

#materialize_button p{
	font-size:32px;
	margin-top:16px;
	font-weight:normal;
}

#materialize_button.glowing p{
	cursor: pointer;
	animation: glowingtext 750ms infinite alternate;
	-webkit-animation: glowingtext 750ms infinite alternate;
	-moz-animation: glowingtext 750ms infinite alternate;
	-ms-animation: glowingtext 750ms infinite alternate;
	-o-animation: glowingtext 750ms infinite alternate;
}

.buff{ color: green; }
.debuff{ color: red; }

/*-------------------Queue-------------------*/

#queuewrapper{display: block; width: 4000px;}
#queue{
	width: 820px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: hidden;
	z-index: 1;
}

#queuewrapper .vignette{
	position: absolute;
}

.vignette,
.vignette .frame{
	opacity: 1;
	vertical-align: top;
	display: inline-block;
	height: 80px;
	width: 80px;
	background-size: 100% 100%;
	cursor: pointer;

}
.vignette .frame{
	height: 100%;
	width: 100%;
}

.vignette .stats{
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	width: 100%;
	height: 18px;
	border: 1px solid #555;
	background: black;
	color: white;
	font-size: 14px;
}

.vignette.active .stats{
	height: 0px;
}

#playerbutton.vignette .frame ,#playerbutton.vignette{
	height: 100px;
	width: 100px;
}

/*#queue .vignette.hidden,#queue .vignette.hidden div{width: 0px; height: 80px;}*/

.vignette.p0 .frame,#abilities.p0 .ability.active::before{background-image: url("../frames/red.png");}
.vignette.p1 .frame,#abilities.p1 .ability.active::before{background-image: url("../frames/blue.png");}
.vignette.p2 .frame,#abilities.p2 .ability.active::before{background-image: url("../frames/orange.png");}
.vignette.p3 .frame,#abilities.p3 .ability.active::before{background-image: url("../frames/green.png");}

.vignette.roundmarker .frame{ background-image: url('../../images/contour.png'), url('../../images/round.jpg'); }

.vignette.xray { opacity: .5; }

/*-----------PAUSE OVERLAY-------------*/

#pause{
	width: 100%;
	height: 100%;
	padding-top: 14%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	font-style: italic;
	font-size: 300%;
	color: #FFF;
	text-align: center;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.8);
}



/*---------------TEXTBOX--------------*/
#chat{
	width: 450px;
	height: 30px;
	background-color: rgba(0,0,0,0.8);
	cursor: pointer;
	position: relative;
	margin: 0 auto;
	bottom: 40px;
	padding: 5px;
	border-radius: 10px 10px 0px 0px;
	transition: all 500ms;	
	-ms-transition: all 500ms;	
	-moz-transition: all 500ms; /* Firefox 4 */
	-webkit-transition: all 500ms; /* Safari and Chrome */
	-o-transition: all 500ms; /* Opera */
}

#chatbox::-webkit-scrollbar{
	width: 7px;
}

#chatbox::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: white;
}

#chat.focus{
	height: 300px;
	bottom: 310px;
}

#chat.focus #chatbox{
	height: 305px;
	overflow-y: scroll;
}

#chat #chatbox{
	width: 450px;
	height: 30px;
	bottom: 0px;
	overflow-y: hidden;
	position: absolute;
	transition: height 500ms;	
	-ms-transition: height 500ms;	
	-moz-transition: height 500ms; /* Firefox 4 */
	-webkit-transition: height 500ms; /* Safari and Chrome */
	-o-transition: height 500ms; /* Opera */
}

#chat.focus #chatbox #chatcontent{
	position: relative;
}

#chat #chatbox #chatcontent{
	width: 423px;
	padding: 10px;
	padding-bottom:0px;
	font-size: 1.1em;
	color: white;
	position: absolute;
	bottom: 0px;
}

#chat #chatinput{
	display: none; /*will do that later*/
	height: 20px;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	width: 100%;
	max-width: 100%;
	bottom: 0;
	position: absolute;
	border: 1px solid white;
	background: transparent;
	color: white;
}

#chat #chatbox #chatcontent p{
	padding: 3px 0 6px;
	margin: 4;
}

#chat #chatbox #chatcontent p.roundmarker{
	border-bottom: 1px solid grey;
}
#chat #chatbox #chatcontent .red{ color: #F55; }
#chat #chatbox #chatcontent .blue{ color: #88F; }
#chat #chatbox #chatcontent .green{ color: #5F5; }
#chat #chatbox #chatcontent .orange{ color: #FA5; }

#chat #chatbox #chatcontent .red,#chat #chatbox #chatcontent .blue,#chat #chatbox #chatcontent .green,#chat #chatbox #chatcontent .orange{
	text-shadow: black 1px 1px 5px;
}

#chat #chatbox #chatcontent i{
	font-size: 80%;
	color: #aaa;
	margin: 0 5px;
}

/*---------------ACTIVE UNIT--------------*/
#activebox{
	position: relative;
	left: 20px;
	top: 100px;
}

#activebox .ability{
	display: block;
}

#abilities{
	background: black;
}

.button + .desc{
	position: absolute;
	top: 1px;
	display: block;
	width: 0px;
	left: 85px;
	color: white;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
}

.button:hover + .desc{
	width: 250px;
	border: 2px black solid;
	overflow: visible;
	border-radius: 5px;
}

.button + .desc span {
	display: block;
	margin: 0;
	padding: 7px 7px 0 7px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

.button + .desc p {
	margin: 0;
	padding: 5px 7px 7px;
	font-size: 14px;
	color: #ddd;
}

.button + .desc .message {
	margin: 0;
	padding: 1px 7px 7px;
	font-size: 14px;
	color: #FAA;
	text-align: center;
	font-style: italic;
}

.button +.desc .shortcut{
	font-size: 12px;
	position: absolute;
	font-style: italic;
	right: 8px;
	top: 8px;
}

.button + .desc .arrow{
	height: 0;
	left:-6px;
	position: absolute;
	position: absolute;
	top: 27px;
	width: 0;
}

.button +.desc .arrow:before{
	content: "";
	border-right: 6px solid black;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	display: inline-block;
	height: 0;
	position: absolute;
	width: 0;
}

#rightpanel .button +.desc .arrow{
	right: 0px;
	left: auto;
}

#rightpanel .button +.desc .shortcut{
	left: 8px;
	right: auto;
}

#rightpanel .button +.desc .arrow:before{
	border-right: 0px solid transparent;
	border-left: 6px solid black;
}

#rightpanel .button:hover +.desc{
	left: -259px;
	text-align: right;
}

/*-----------------Costs and damages-------------------*/

.costs, .damages, .special, .charge{
	margin: 2px 10px;
	font-size: 14px;
}

.costs{ color: #ddd; text-shadow: 1px 1px 0px #55f; }
.damages{ color: #ddd; text-shadow: 1px 1px 0px #f55; }
.charge{ color: #fff; text-shadow: 1px 1px 0px #f5f; }
.special{ color: #ddd; text-shadow: 1px 1px 0px #ff5; }

span.plasma,
span.pure,
span.health,
span.regrowth,
span.endurance,
span.energy,
span.meditation,
span.initiative,
span.offense,
span.defense,
span.movement,
span.pierce,
span.slash,
span.crush,
span.shock,
span.burn,
span.frost,
span.poison,
span.sonic,
span.mental{
	display: inline-block !important;
	width: 15px;
	height: 15px;
	margin: 0px 3px !important;
	padding: 0px !important;
	background-size: 100% 100%; 
	vertical-align: -2px;
}

span.plasma{ background-image: url("../../images/stats/health.png");  } 
span.pure{ background-image: url("../../images/stats/health.png");  } 
span.health{ background-image: url("../../images/stats/health.png");  } 
span.regrowth{ background-image: url("../../images/stats/regrowth.png");  } 
span.endurance{ background-image: url("../../images/stats/endurance.png");  } 
span.energy{ background-image: url("../../images/stats/energy.png");  } 
span.meditation{ background-image: url("../../images/stats/meditation.png");  } 
span.initiative{ background-image: url("../../images/stats/initiative.png");  } 
span.offense{ background-image: url("../../images/stats/offense.png");  } 
span.defense{ background-image: url("../../images/stats/defense.png");  } 
span.movement{ background-image: url("../../images/stats/movement.png");  } 
span.pierce{ background-image: url("../../images/stats/pierce.png");  } 
span.slash{ background-image: url("../../images/stats/slash.png");  } 
span.crush{ background-image: url("../../images/stats/crush.png");  } 
span.shock{ background-image: url("../../images/stats/shock.png");  } 
span.burn{ background-image: url("../../images/stats/burn.png");  } 
span.frost{ background-image: url("../../images/stats/frost.png");  } 
span.poison{ background-image: url("../../images/stats/poison.png");  } 
span.sonic{ background-image: url("../../images/stats/sonic.png");  } 
span.mental{ background-image: url("../../images/stats/mental.png");  } 


/*-----------------Animations-------------------*/

/*Pulse between .6 and .1 opacity*/
@keyframes pulse0106 { 0% {opacity: .1;} 100% {opacity: .6;} }
@-moz-keyframes pulse0106 { 0% {opacity: .1;} 100% {opacity: .6;} }
@-webkit-keyframes pulse0106 { 0% {opacity: .1;} 100% {opacity: .6;} }
@-o-keyframes pulse0106 { 0% {opacity: .1;} 100% {opacity: .6;} }

/*Pulse between .8 and 1 opacity*/
@keyframes pulse0510 { 0% {opacity: .5;} 100% {opacity: 1;} }
@-moz-keyframes pulse0510 { 0% {opacity: .5;} 100% {opacity: 1;} }
@-webkit-keyframes pulse0510 { 0% {opacity: .5;} 100% {opacity: 1;} }
@-o-keyframes pulse0510 { 0% {opacity: .5;} 100% {opacity: 1;} }

/*Pulse between .8 and 1 opacity*/
@keyframes pulse0205 { 0% {opacity: .2;} 100% {opacity: .5;} }
@-moz-keyframes pulse0205 { 0% {opacity: .2;} 100% {opacity: .5;} }
@-webkit-keyframes pulse0205 { 0% {opacity: .2;} 100% {opacity: .5;} }
@-o-keyframes pulse0205 { 0% {opacity: .2;} 100% {opacity: .5;} }


@keyframes 			glowingtext{ 0% {text-shadow:none;} 100% {text-shadow: #F00 0px 2px 19px,#F00 0px 2px 78px;} }
@-moz-keyframes 	glowingtext{ 0% {text-shadow:none;} 100% {text-shadow: #F00 0px 2px 19px,#F00 0px 2px 78px;} }
@-webkit-keyframes 	glowingtext{ 0% {text-shadow:none;} 100% {text-shadow: #F00 0px 2px 19px,#F00 0px 2px 78px;} }
@-o-keyframes 		glowingtext{ 0% {text-shadow:none;} 100% {text-shadow: #F00 0px 2px 19px,#F00 0px 2px 78px;} }
/*----------------Game setup--------------*/


/*Overiding JqueryUI Theme*/
.ui-widget{font-size: .9em !important;}
.ui-buttonset {margin-right: 5px !important;}
.ui-button-text-only .ui-button-text {
	padding: .4em .8em;
}
.ui-button .ui-button-text {
	line-height: 1em;
}

#gamesetup,#gamesetup .cont {
	display: inline-block;
	margin: 2px;
	padding: 5px;
	background: rgba(25,25,25,.8);
	border: rgb(25,25,25) 1px solid;
	border-radius: 7px;
}


#gamesetup {
	width: 540px;
	height: 480px;
    position:absolute;
    display: block;
    left:50%;
    top:50%;
    margin:-245px 0 0 -275px;
    padding: 4px;
}


#gamesetup .cont h2{
	margin: 5px;
	font-size: 1em;
}

#gamesetup .typeradio{
	white-space: nowrap;
}

#matchmaking{
	width: 100%;
	height: 100%;
	min-height: 510px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 99;
	text-align: center;
	background: black url('../../images/Reaper.jpg') no-repeat center top;
	color: white;
}
#loader{
	width: 200px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -2px;
	line-height: 50px;
	font-size: 40px;
	display: none;
}

/*--------------Scoreboard------------------*/

#endscreen{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	display: block;
	background: rgba(0,0,0,.8);
}

#scoreboard{
	width: 450px;
	height: 420px;
	color: white;
	margin: 30px auto 0;
	background: black;
	border: 2px grey solid;
}

#scoreboard table{
	color: white;
	text-align: center;
	margin: auto;
}


#scoreboard h1{
	text-align: center;
}

#scoreboard p{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

/*--------------------TRAPS--------------------*/
.trap {
	width: 90px;
	height: 52px;
	margin: -36px -10px;
	padding: 36px 10px;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transform: scaleY(0.75);
	-moz-transform: scaleY(0.75);
	-ms-transform: scaleY(0.75);
	-o-transform: scaleY(0.75);
	transform: scaleY(0.75);

	transform-origin:0% 30%;
	-ms-transform-origin:0% 30%; /* IE 9 */
	-webkit-transform-origin:0% 30%; /* Safari and Chrome */
	-moz-transform-origin:0% 30%; /* Firefox */
	-o-transform-origin:0% 30%; /* Opera */
}

.trap.mud-bath { background: url("../grid/mud-bath.png"); }
.trap.royal-seal { background: url("../grid/royal-seal.png"); }
.trap.scorched-ground { background: url("../grid/scorched-ground.png"); }


/*------------------Progress Bars-------------------*/
.progressbar {
	display: block;
	position: absolute;
	width: 20px;
	height: 320px;
	box-sizing: border-box;
	border: 1px #777 solid;
	background: black;
	top: 0px;
}

#leftpanel .progressbar {
	left: -20px;
}

#rightpanel .progressbar {
	right: -20px;
}

.progressbar .bar {
	display: block;
	position: absolute;
	width: 18px;
	height: 0px;
	bottom: 0px;
	background: red;
}