#carousel {
	display: block;
	height: 128px;
	width: 896px;
	margin: 0px;
	line-height: 0px;
	background-image: url("../images/carousel.png");
	background-size: 100%;
	padding: 27px;
	margin-bottom: 5px;
	/* Disable selection when double clicking last avatar */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.carouselAvatar {
	background: url('../images/frame.png');
	height: 128px;
	width: 128px;
	display: inline-block;
	cursor: pointer;
}
